<!doctype html>
<html ng-app="woodlot">

<head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/base.css -->
    <link href="styles/base.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:css styles/popup.css -->
    <link href="styles/popup.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body>
    <div class="container" ng-controller="PopupCtrl">
        <div class="main-view" ng-if="!state.showWoodlot">
            <h1 class="title">woodlot</h1>
            <p>grow and nurture your forest to stay focused</p>

            <div class="no-active-tree" ng-if="!state.treeActive">
                <input class="plant-time form-control" value="35">
                <span>minutes</span>
            </div>

            <div class="active-tree well" ng-if="state.treeActive">
                <span class="time-left" ng-bind="state.timeLeft">55</span>
                <span>minutes</span>
            </div>

            <div class="action-btns" ng-if="!state.treeActive">
                <a class="btn btn-success plant-btn" ng-click="plantTree()">plant</a>
                <a class="btn btn-info" ng-click="state.showWoodlot = true">woodlot</a>
            </div>

            <a class="btn btn-danger" ng-if="state.treeActive" ng-click="giveUpTree()">give up</a>
        </div>

        <div class="woodlot-view" ng-if="state.showWoodlot">
            <div class="row text-muted" ng-if="!trees">
                <h1>no trees :(</h1>
            </div>

            <div ng-repeat="(date, dayTrees) in trees" ng-if="trees">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Trees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ date }}</td>
                            <td>
                                <div ng-repeat="tree in dayTrees">
                                    <span>
                                        <p>
                                            <i class="fa fa-tree tree-1"></i>
                                        </p>
                                        <span>{{ tree.timeFocused }} minutes</span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <a class="btn btn-warning" ng-click="state.showWoodlot = false">back</a>
            </div>
        </div>
    </div>

    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
</body>

</html>
